<!DOCTYPE html>
<html>
  <head>
    <title>GaProfile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'main' %>
  </head>

  <body>
    <div id="particles-js"></div>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    </body>
</html>
